.heroimg {
  background-image: url(../src/assets/Section1/backghome.png);
}

.nav-brand {
  text-transform: capitalize;
}

.navbar-expand-lg .navbar-nav {
  position: relative;
  right: 30rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-brand {
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1;
}

.navbar-nav>.nav-item>.nav-link {
  font-size: 16px;
  padding-top: .9rem;
  padding-bottom: .9rem;
  padding-left: 7px;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  opacity: 1 !important;
}

.signin-btn {
  background-color: white;
  list-style-type: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  list-style-type: none;
  list-style: none;
  background-color: white;
  border: none;
  color: #3e86f5;
  width: 8em;
  height: 3em;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  list-style-type: none;
  list-style: none;
  background-color: white;
  border: none;
  color: #3e86f5;
  width: 8em;
  height: 3em;
  border-radius: 5px;
}

.btn:focus {
  cursor: pointer;
  list-style-type: none;
  list-style: none;
  background-color: white;
  border: none;
  color: #3e86f5;
  width: 8em;
  height: 3em;
  border-radius: 5px;
}

.head-texts {
  font-weight: 700, bolder;
  font-family: impact;
  color: white;
  font-size: 64px;
}

.sub-txt {
  position: relative;
}

.slider-text p {
  font-size: 27px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.book-btn {
  background-color: #3e86f5;
  color: white;
  width: 15em;
  border: none;
  height: 51px;
  border-radius: 6px;
  position: absolute;
  left: 15em;
  bottom: 134px;
}


.no-gutters>.col,
.no-gutters>[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0em;
}

.flight-btn {
  color: white;
  background-color: #3e86f5;
  height: 51px;
  border-radius: 6px;
  border: none;
  width: 12em;
  transition: 1s;
}

.planee {
  animation-name: slide;
  transition: 2s;
  animation-duration: 4s;
  animation-iteration-count: 3;
  position: relative;
}

/* @keyframes slide{
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
} */

.planee:hover {
  left: 10px;
  position: relative;
}

.mainwrap-mid {
  background-color: rgb(251 251 251);
  border-radius: 5px;
  height: 7em;
  padding: 31px;
  position: relative;
  bottom: 49px;
  box-shadow: 6px 5px 6px -2px #0000001f;
  z-index: 0px;
}

button,
select {
  text-transform: none;
  border: none;
  background: none;
  position: relative;
  left: 28px;
  bottom: 16px;
}

button,
select:focus {
  text-transform: none;
  border: none;
  background: none;
  position: relative;
  left: 28px;
  bottom: 16px;
}

.follow2sec {
  background-color: #fbfbfb;
  height: 14em;
  position: relative;
  bottom: 112px;
  z-index: -1;
}

.sect-wrap {
  margin-left: 9em;
  /* margin-bottom: 3em; */
}

.icecold {
  color: #3E86F5;
}

.midtext {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 37px;
  font-family: arial;
  font-weight: 700;
  margin-top: 3em;
}

.sect-2under {
  background-image: url(./assets/backg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 46rem;
}

.midtxt-sub {
  text-align: center;
  margin-top: 4px;
  font-size: 29px;
  letter-spacing: 0px;
  letter-spacing: normal;
  color: rgb(185 185 185);
}

.subtext2nd {
  font-weight: bolder;
  font-weight: 700;
  text-align: center;
  font-size: 2em;
  margin-top: -4em;
  color: black;
  letter-spacing: 3px;
}

.thearrow {
  margin-left: 50%;
  margin-top: 5em;
}

.bg-a {
  background-image: url(./assets/Section1/bg-a.png);
  height: 63rem;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.bg-b {
  background-image: url(./assets/Section1/bg-b.png);
  height: 63rem;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.bg-c {
  background-image: url(./assets/Section1/bg-c.png);
  height: 63rem;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

/* .th1, .th2, .th3 {
  color: white;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  transform: rotate(90deg);
  position: relative;
  right: 7em;
  top: 19em;
}

.th2 {
  position: relative;
  right: 8em;
} */

.resorttxt{
  font-weight: 700;
  color: black;
  font-size: 2em;
}

.picsline1 {
  width: 22em;
  float: right;
}

.picsline2{
  width: 22em;
}

.s2lbkg{
  background-image: url(./assets/Section1/Imagebackg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 38em;
}

.s2dlast {
  font-weight: 700;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3em;
  font-size: 4em;
}

.majorbtnlast {
  cursor: pointer;
  background: #0d6efd;
  border: none;
  color: white;
  width: 10em;
  height: 3em;
  border-radius: 7px;
  margin-top: 7em;
}

.uncFooter{
  height: 30em;
}

.foottitleh{
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.footsubctn{
  font-weight: 500;
    color: black;
}

.fab{
  padding: 8px;
  font-size: 3em;
  
  margin-top: 2em;
}

.fab:hover{
  color: #0d6efd;
}

.take{
  color: #0d6efd;
  font-weight: 400;
}

/* .uncFooter{
  background-color: #f3f3f3;
} */











@media screen and (max-width: 600px) {
  .book-btn {
    left: 1em;
  }

  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-right: 30px;
    margin-top: 27px;
  }

  .thearrow {
    margin-left: 50%;
    margin-top: 0em;
    height: 10rem;
  }

  .s2dlast {
    font-weight: 700;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
    font-size: 3em;
    text-align: center;
}

.s2lbkg {
  background-image: url(./assets/Section1/Imagebackg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
}

.majorbtnlast {
  cursor: pointer;
  background: #0d6efd;
  border: none;
  color: white;
  width: 16em;
  height: 3em;
  border-radius: 7px;
  margin-top: 7em;
  margin-left: 3em;
}



}


/* .nav-linkss{
 
} */